
.DS_Store
MovieApp.xcodeproj/project.pbxproj
MovieApp.xcworkspace/xcuserdata/sevvalalev.xcuserdatad/UserInterfaceState.xcuserstate
MovieApp/.DS_Store
MovieApp/MovieApp.xcdatamodeld/.xccurrentversion
